<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :session_id %>
    <%= form.text_field :session_id, id: :game_session_id %>
  </div>

  <div class="field">
    <%= form.label :deck_1 %>
    <%= form.text_field :deck_1, id: :game_deck_1 %>
  </div>

  <div class="field">
    <%= form.label :deck_2 %>
    <%= form.text_field :deck_2, id: :game_deck_2 %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :game_user_name %>
  </div>

  <div class="field">
    <%= form.label :move %>
    <%= form.number_field :move, id: :game_move %>
  </div>

  <div class="field">
    <%= form.label :user_1_points %>
    <%= form.number_field :user_1_points, id: :game_user_1_points %>
  </div>

  <div class="field">
    <%= form.label :user_2_points %>
    <%= form.number_field :user_2_points, id: :game_user_2_points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
